@import url("./general-sans.css");
@import url("./clash-display.css");

body {
  margin: 0;
  padding: 0;
  font-family: "GeneralSans-Regular";
  scroll-behavior: smooth;
}

/* Navbar Animation start */
.menu-active {
  overflow: hidden !important;
}

.menu-active .mobile-menu {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
  transition: transform 0.4s ease-in-out, visibility 0s linear 0.3s,
    opacity 0.4s ease-in-out;
}

.menu-active-exit .mobile-menu {
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
  transition: transform 0.4s ease-in-out, visibility 0s linear 0.3s,
    opacity 0.4s ease-in-out;
}
/* Navbar Animation end */

/* Responsiveness start */

/* Navbar start */
@media (max-width: 720px) {
  .nav-menu {
    position: fixed;
    left: -200%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: transform 0.5s ease-in-out;
  }

  .nav-menu.active {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
/* Navbar end */

/* Parallax start */
@media screen and (max-width: 1280px) {
  .foreground h1 {
    font-size: 3.5rem;
    -webkit-text-stroke: 3.5px;
  }
}

@media (max-width: 768px) {
  .foreground h1 {
    font-size: 2.5rem;
    -webkit-text-stroke: 2.5px;
  }
}

@media (max-width: 425px) {
  .foreground h1 {
    font-size: 2rem;
    -webkit-text-stroke: 2px;
  }
}
/* Parallax end */

/* Responsive end */

/* About start */
.hero-container span {
  color: hsla(0, 0%, 100%, 0.089);
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-image: linear-gradient(white, white);
  animation: scroll-reveal linear forwards;
  animation-timeline: view();
}
.hero-container h2 span {
  animation-range-start: cover 20vh;
  animation-range-end: cover 30vh;
}

.hero-container p span {
  animation-range-start: cover 14.5vh;
  animation-range-end: cover 50vh;
}

@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
    color: hsla(0, 0%, 100%, 1);
  }
}
/* About end */

/* Works Image start */
.works-box1 {
  background-image: url("../images/frames/frame1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.works-box2 {
  background-image: url("../images/frames/frame2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.works-box3 {
  background-image: url("../images/frames/frame3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.works-box4 {
  background-image: url("../images/frames/frame4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* Works Image end */

/* Contact Animation start */
@keyframes outlineAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.link-hover {
  position: relative;
}

.link-hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.65s ease-in-out;
}

.link-hover:hover::after {
  animation: outlineAnimation 0.65s forwards;
}
/* Contact Animation end */

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
